<!-- views/add-products.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Products</title>
  </head>
  <body>
    <h1>Add Products</h1>
    <form method="POST" action="/products">
      <label for="tittel">Title:</label>
      <input type="text" name="tittel" id="tittel" required>

      <label for="dato">Date:</label>
      <input type="date" name="dato" id="dato" required>

      <label for="modell">Model:</label>
      <input type="text" name="modell" id="modell" required>

      <label for="merke">Brand:</label>
      <input type="text" name="merke" id="merke" required>

      <label for="pris">Price:</label>
      <input type="number" name="pris" id="pris" required>

      <label for="artikkelnummer">Article Number:</label>
      <input type="text" name="Artikkelnummer" id="artikkelnummer" required>

      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
