<!DOCTYPE html>
<html>
  <head>
    <title>KicksHub</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>

      <h1>KicksHub</h1>
      <h2>Hvordan slette produkter fra nettsiden?</h2>
  
    <p>Trykk på DELETE knappen for å slette produktet med navnet</p>
    <img src="/img/Screenshot_1.png" alt="hehe">
    <p>Kopier IDen og lim den inn under, fyll også ut resten av detaljene og trykk update</p>
    <img src="/img/Screenshot_2.png" alt="hehe">
    
    <footer>
      <p>&copy; 2023 KicksHub</p>
    </footer>
    
  </body>
</html>
