<!DOCTYPE html>
<html>
  <head>
    <title>KicksHub</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>

      <h1>KicksHub</h1>
      <h2>Hvordan sette opp Linux med nøkkelpålogging</h2>
  
    <p>Først skriver du dette for å opprette en ny bruker</p>
    <img src="/img/Screenshot_3.png" alt="hehe">
    <p>Legge til i gruppe som gir sudo tilgang</p>
    <img src="/img/Screenshot_4.png" alt="hehe">
    <p>Legge til ssh nøkkel i denne her</p>
    <img src="/img/Screenshot_5.png" alt="hehe">
    
    <footer>
      <p>&copy; 2023 KicksHub</p>
    </footer>
    
  </body>
</html>
